<div style="text-align:center">
  <h1>Welcome to {{ _info.infos.title }}!</h1>
</div>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/page1']">
          <i class="fa fa-github"></i> {{ _info.infos.page1 }} </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/page2']">
          <i class="fa fa-circle"></i> {{ _info.infos.page2 }} </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/page3']">
          <i class="fa fa-dot-circle-o"></i> {{ _info.infos.page3 }} </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/page4']">
          <i class="fa fa-circle-o"></i> {{ _info.infos.page4 }} </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/page5']">
          <i class="fa fa-circle"></i> {{ _info.infos.page5 }} </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/page6']">
          <i class="fa fa-dot-circle-o"></i> {{ _info.infos.page6 }} </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer fixed-bottom footer-dark">
  <div class="container">
    <span class="text-muted">Welcome to {{ _info.infos.title }}! {{ _info.infos.releasedby }} {{ _info.infos.author }}</span>
  </div>
</footer>
